.frameworks *{
    /* text-align: center; */
    padding-top: 8px;
    font-family: 'Raleway', sans-serif;
    height: 80px;
}

.platforms-tit {
    display: block;
    margin: 0px 40px 40px 40px;
}

.platforms-big-title {
    font-size: 70px;
    color: rgb(202, 202, 202);
}

.used-big-title {
    font-size: 50px;
    color: rgb(155, 39, 116) !important;
}

.frameworks-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 50;
    font-size: 30px;
}

.sosial-links {
    text-align: center;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

@media (max-width: 900px) {
    .sosial-links div:nth-child(6) {
        max-width: calc(100% / 5) !important;
    }
}

@media (max-width: 750px) {
    .sosial-links div:nth-child(n+5) {
        max-width: calc(100% / 4) !important;
    }
}

@media (max-width: 600px) {
    .sosial-links div:nth-child(n+4) {
        max-width: 200px !important;
    }
}

@media (max-width: 414px) {
    .platforms-big-title {
        font-size: 10vw;
    }
    
    .used-big-title {
        font-size: 8vw;
    }
}
.img {
    flex: 1 0 auto;
    min-width: 150px;
    max-width: 200px;
    min-height: 170px;
}

.img-in {
    min-width: 110px;
    min-height: 110px;
    max-width: 250px;
    flex: 1 0 auto;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid rgba(165, 165, 165, 0.5);
    box-shadow: 0px 0px 10px rgba(165, 165, 165, 0.5);
    border-radius: 75px;
    box-sizing: border-box;
}

.img .platform-description {
    /* min-width: 110px; */
    /* max-width: 250px */
    flex: 1 0 auto;
    display: inline-block;
    padding-top: 35px;
    color: rgb(165, 165, 165)
}

.img .platform-description:hover {
    font-weight: bold;
    cursor: default;
    font-size: 15px;
    color: rgb(85, 85, 85);
}

.img .img-in:hover > .platform-description {
    font-weight: bold;
    cursor: default;
    font-size: 15px;
    color: rgb(85,85,85);
}


.img .img-in:hover > .platform-description {
    animation-name: myAnimation;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
    display: block;
}

.img .img-in:not(:hover) > .platform-description {
    animation-name: outAnimation;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    display: block;
    font-weight: bold;
    cursor: default;
    font-size: 15px;
    color: rgb(85,85,85);
}

.platform-description {
    display: none;
}


@keyframes myAnimation{
    0%{
      opacity: 1;
      transform: rotateX(90deg);
    }
    50%{
      opacity: 0.5;
      transform: rotateX(0deg);
    }
    100%{
    }
  }

@keyframes outAnimation {
    50%{
        opacity: 0.5;
        transform: rotateX(0deg);
    }
    100%{
        display: none;
        opacity: 0;
        transform: rotateX(90deg);
    }
}