.frameworks *{
    text-align: center;
    padding-top: 10px;
}

.frameworks-title {
    font-family: 'Raleway', sans-serif;
    padding-bottom: 80px;
    font-weight: 50;
    font-size: 30px;
}

.sosial-links a{
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 2px solid rgba(165, 165, 165, 0.5);
    border-radius: 75px;
    margin: 35px;
    box-shadow: 0px 0px 10px rgba(165, 165, 165, 0.5);
    background-color: #fff;
    

} 
.sosial-links a img{
    font-size: 20px;
    color: #fff;
    opacity: 100%;
}