.profileImg {
    flex: 1;
    text-align: center;
}

#profileImgPic {
    width: 200px;
    height: auto;
    border-radius: 105px;
    box-shadow: 0px 2px 5px 0px rgb(209, 209, 209); 
}

.profileImg .details {
    padding: 20px;
    text-align: left;
}

.profileImg .det {
    margin-bottom: 5px;
}

.profileImg .details .detail {
    font-weight: 500;
    display: inline-block;
    background-color: rgb(221, 221, 221);
    width: auto;
    padding: 4px;
    border-radius: 5px;
}

.profileImg .details .detail-desc {
    display: inline-block;
    margin-left: 3px;
    padding: 4px;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
}


.about {
  box-shadow: 0px 0px 10px 0px rgba(231, 231, 231, 0.548);
  margin: 10px;  
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 30%;
} 

.about-me-content {
    flex: 1;
}

.aboutme-title {
    font-size: 80px;
    font-weight: 100;
    line-height: normal;
}

.study {
    font-weight: 100;
    font-size: 1.25rem;
    color: rgb(148, 148, 148);
}

.about-text {
    font-weight: 100;
    font-size: 1.25rem;
    color: rgb(134, 134, 134);
}

@media (max-width: 770px) {
    .about {
        flex-direction: column;
    }
}

@media (max-width: 412px) {
    .profileImg .details {
        padding: 2px;
        text-align: left;
    }    
    .profileImg .details .detail-desc {
        margin-top: 3px;
    }
}

@media (max-width: 960px) {
    .aboutme-title {
        font-size: 40px !important;
    }

    .about-text {
        padding-top: 10px;
        font-size: 15px;
        line-height: 1.5em !important;
        color: rgb(56, 56, 56) !important;
    }

    .study {
        line-height: 1.2;
        font-size: 20px;
        color: rgb(29, 29, 29);
        font-weight: 300;
    } 
}